* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  height: 100vh;
  background-color: #0c1015;
  margin: 0 auto;
  overflow-y: hidden;
  font-family: "Inter", sans-serif;
}

.main-container {
  width: 1110px;
  height: 516px;
  margin: 110px auto;
  display: flex;
}

#images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
}

img {
  margin: 0;
  padding: 0;
  display: block;
  width: 150px;
  height: 150px;
  object-fit: noneS;
}

img:hover {
  transform: scale(1.2);
  transition: 0.7s;
}

.second-container {
  padding: 50px;
  width: 532px;
  height: 516px;
  margin-left: 44px;
  background-color: #24292f;
}

h1 {
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  letter-spacing: 0.05em;
  text-align: left;
  color: white;
}

h2 {
  padding-top: 7px;
  color: #c92b2b;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
}

p {
  padding-top: 26px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: white;
}
